<h1>Photos</h1>

<% if @album.photos.empty?  %>
  <h1> This person has no photos</h1>
  <% else %>
    <ul class="bxslider">
      <% @album.photos.each do |photo| %>
        <li><%= image_tag photo.image%></li>
      <% end %>
    </ul>
  <% end %>
<%= link_to 'Edit Album', new_person_album_path, class: "btn-lg btn-info" %>
